@model PharmacistViewModel
@{
    ViewData["Title"] = "Delete Pharmacist";
}

<h1>Are you sure you want to delete this pharmacist?</h1>
<br />
<br />

<form asp-controller="Pharmacist" asp-action="Delete" method="post">

    <partial name="PartialViews/DetailsDeletePharmacistPartial" />

    <!-- Delete and Cancel Buttons -->
    <partial name="_ButtonsInDeletePartial" />
</form>
