@model PharmacistViewModel
@{
    ViewData["Title"] = "Pharmacist Details";
}

<h1>Pharmacist Details</h1>
<br />
<br />

<div>


    <partial name="PartialViews/DetailsDeletePharmacistPartial" />


    <partial name="_ButtonsInDetailsPartial" model="Model.Id" />

</div>