@model PharmacistViewModel
@{
    ViewData["Title"] = "Pharmacist Details";
}

<h1>Pharmacist Details</h1>
<br />
<br />

<div>

    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="Gender" class="form-label"></label>
        <input asp-for="Gender" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="DateOfBirth" class="form-label"></label>
        <input asp-for="DateOfBirth" class="form-control" readonly />
    </div>


    <partial name="_ButtonsInDetailsPartial" model="Model.Id" />

</div>