@model PharmacistViewModel
@{
	ViewData["Title"] = "Edit Pharmacist";
}
<div class="container mt-5">
	<h1>Edit Pharmacist</h1>
	<br />
	<br />

	<form asp-controller="Pharmacist" asp-action="Edit" method="post">

		<partial name="userpartialviews\_UserEditPartial" model="@Model" />
		<!-- Action Buttons -->
		<partial name="_ButtonsInEditPartial" />
	</form>
</div>
<!-- Scripts for Validation -->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
