@model PharmacistViewModel
@{
    ViewData["Title"] = "Edit Pharmacist";
}

<h1>Edit Pharmacist</h1>
<br />
<br />

<form asp-controller="Pharmacist" asp-action="Edit" method="post">

    <partial name="PartialViews/CreateEditPharmacistPartial" />

    <!-- Action Buttons -->
    <partial name="_ButtonsInEditPartial" />
</form>

<!-- Scripts for Validation -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
