@model IEnumerable<PharmacistViewModel>
@{
	ViewData["Title"] = "Pharmacists";
	ViewData["User"] = "Pharmacist";

}
<div class="container mt-5">
	<partial name="userpartialviews\_UserIndexPartial" model="@Model" />
</div>
