@model NurseViewModel
@{
    ViewData["Title"] = "Delete Nurse";
}

<h1>Are you sure you want to delete this Nurse?</h1>
<br />
<br />

<form asp-controller="Nurse" asp-action="Delete" method="post">

    <partial name="userpartialviews\_UserDetailsDeletePartial" model="@Model" />

    <!-- Delete and Cancel Buttons -->
    <partial name="_ButtonsInDeletePartial" />
</form>
