@model NurseViewModel
@{
    ViewData["Title"] = "Nurse Details";
}

<h1>Nurse Details</h1>
<br />
<br />

<div>
    <partial name="userpartialviews\_UserDetailsDeletePartial" model="@Model" />

    <partial name="_ButtonsInDetailsPartial" model="Model.Id" />
</div>


