@model NurseViewModel
@{
	ViewData["Title"] = "Nurse Details";
}
<div class="container mt-5" style="min-height: 120vh">
	<h1 class="page-title">Nurse Details</h1>

	<div>
		<partial name="userpartialviews\_UserDetailsDeletePartial" model="@Model" />

		<partial name="_ButtonsInDetailsPartial" model="Model.UserId" />
	</div>
</div>

