@model IEnumerable<NurseViewModel>
@{
	ViewData["Title"] = "Nurses";
	ViewData["User"] = "Nurse";

}
<div class="container mt-5">
	<partial name="userpartialviews\_UserIndexPartial" model="@Model" />
</div>
