@model IEnumerable<NurseViewModel>
@{
	ViewData["Title"] = "Nurses";
	ViewData["User"] = "Nurse";

}
<div class="container mt-5" style="min-height: 100vh">
	<!-- Success Message -->
	<partial name="SuccessMessage" />
	<partial name="userpartialviews\_UserIndexPartial" model="@Model" />
</div>
@section Scripts {
	<script>
		// Automatically hide the success message after 5 seconds (5000 milliseconds)
		$(document).ready(function () {
			setTimeout(function () {
				$('#SuccessMessage').fadeOut('slow');
			}, 5000); // 5000 ms = 5 seconds
		});
	</script>
}