@model PatientViewModel

@{
    ViewData["Title"] = "Create Patient";
}

<h2>Create Patient</h2>

<form asp-action="Create" method="post">
    <partial name="userpartialviews\_UserCreatePartial" />


    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>

<!-- Scripts for Validation -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}