@model PatientViewModel
@{
    ViewData["Title"] = "Delete Patient";
}

<h1>Are you sure you want to delete this Patient?</h1>
<br />
<br />

<form asp-controller="Patient" asp-action="Delete" method="post">

    <partial name="userpartialviews\_UserDetailsDeletePartial" model="@Model" />

    <!-- Delete and Cancel Buttons -->
    <partial name="_ButtonsInDeletePartial" />
</form>
