@model Patient
@{
    ViewData["Title"] = "Patient Details";
}

<h1>Patient Details</h1>
<br />
<br />

<div>
    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="Gender" class="form-label"></label>
        <input asp-for="Gender" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="DateOfBirth" class="form-label"></label>
        <input asp-for="DateOfBirth" class="form-control" readonly />
    </div>

    <partial name="_ButtonsInDetailsPartial" model="Model.Id" />

</div>

