@model PatientViewModel
@{
	ViewData["Title"] = "Patient Details";
}
<div class="container mt-5" style="min-height: 100vh">
	<h1 class="page-title">Patient Details</h1>

	<div>
		<partial name="userpartialviews\_UserDetailsDeletePartial" model="@Model" />

		<partial name="_ButtonsInDetailsPartial" model="Model.UserId" />

	</div>
</div>
