@model PatientViewModel
@{
	ViewData["Title"] = "Patient Details";
}
<div class="container mt-5">
	<h1>Patient Details</h1>
	<br />
	<br />

	<div>
		<partial name="userpartialviews\_UserDetailsDeletePartial" model="@Model" />

		<partial name="_ButtonsInDetailsPartial" model="Model.UserId" />

	</div>
</div>
