@model Patient
@{
    ViewData["Title"] = "Patient Details";
}

<h1>Patient Details</h1>
<br />
<br />

<div>
    <partial name="userpartialviews\_UserDetailsDeletePartial" model="@Model" />

    <partial name="_ButtonsInDetailsPartial" model="Model.Id" />

</div>

