@model IEnumerable<PatientViewModel>
@{
	ViewData["Title"] = "Patients";
	ViewData["User"] = "Patient";

}
<div class="container mt-5">
	<partial name="userpartialviews\_UserIndexPartial" model="@Model" />
</div>




