html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Define classes for fixed-width columns */
.equal-width-1 {
    width: 25%; /* Example width for the first column */
}

.equal-width-2 {
    width: 55%; /* Example width for the second column */
}

.equal-width-3 {
    width: 10%; /* Example width for edit column */
}

.equal-width-4 {
    width: 10%; /* Example width for delete column */
}
