html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Define classes for fixed-width columns */
.equal-width-1 {
    width: 25%; /* Example width for the first column */
}

.equal-width-2 {
    width: 55%; /* Example width for the second column */
}

.equal-width-3 {
    width: 10%; /* Example width for edit column */
}

.equal-width-4 {
    width: 10%; /* Example width for delete column */
}
/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
 /*appointment style*/
.clinic-list {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
}

.clinic-item {
    margin-bottom: 10px;
}

.clinic-link {
    display: block;
    padding: 12px; /* Slightly increased padding for better touch interaction */
    background-color: #f0f0f0;
    text-align: center;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .clinic-link:hover {
        background-color: #007bff;
        color: white;
    }

    .clinic-link.active {
        background-color: #007bff;
        color: white;
        font-weight: bold; /* Highlight active clinic with bold text */
    }

.month-navigation {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensure buttons are vertically centered */
}

    .month-navigation a {
        width: 140px; /* Fixed width for buttons */
        text-align: center;
        padding: 8px;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

        .month-navigation a:hover {
            background-color: #0056b3; /* Darker hover state for buttons */
        }

    .month-navigation .invisible {
        visibility: hidden;
    }

.table {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse; /* Clean border look */
}

    .table th, .table td {
        padding: 10px;
        border: 1px solid #ddd;
    }

.available {
    background-color: #d4edda;
    cursor: pointer; /* Indicate that available days are interactive */
    transition: background-color 0.3s ease;
}

    .available:hover {
        background-color: #c3e6cb; /* Lighter green on hover */
    }

.unavailable {
    background-color: #ff7878;
    color: #6c757d;
}

    .unavailable:hover {
        background-color: #ff6161; /* Slightly darker hover effect */
    }

.form-group {
    margin-top: 20px;
    text-align: center;
}

    .form-group button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .form-group button:hover {
            background-color: #0056b3;
        }

/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
/*************************************************************************************************************************************/

.container .page-title {
    background-color: #0d6efd;
    padding: 10px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-bottom: 0.5em;
}




/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
ul {
    list-style-type: none;
}

.header {
    background-color: #fff;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.29) 0px 6px 18px 0px;
}

.header .navbar-collapse {
    padding: 0;
}

.header .header-inner {
    background: #fff;
    z-index: 999;
    width: 100%;
}

.get-quote .btn {
    color: #fff;
    background-color: #2889e4;
}

.header .logo {
    float: left;
    margin-top: 18px;
}

.header .navbar {
    background: none;
    box-shadow: none;
    border: none;
    margin: 0;
    height: 0px;
    min-height: 0px;
}

.header .nav li {
    margin-right: 15px;
    float: left;
    position: relative;
}

.header .nav li:last-child {
    margin: 0;
}

.header .nav li a {
    color: #2C2D3F;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 25px 12px;
    position: relative;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.header .nav li a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background: #1A76D1;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.header .nav li.active a:before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.header .nav li.active a {
    color: #1A76D1;
}

.header .nav li:hover a:before {
    opacity: 1;
    width: 100%;
    visibility: visible;
}

.header .nav li:hover a {
    color: #1a76d1;
}

.header .nav li a i {
    display: inline-block;
    margin-left: 1px;
    font-size: 13px;
}

.header.style2 .header-inner {
    border-top: 1px solid #eee;
}

.header.style2 .logo {
    margin-top: 6px;
}

.header .middle-header {
    background: #fff;
    padding: 20px 0px;
}

.header .widget-main {
    float: right;
}

.header.style2 .get-quote {
    margin-top: 0;
}

.header .single-widget {
    position: relative;
    float: left;
    margin-right: 30px;
    padding-left: 55px;
}

.header .single-widget:last-child {
    margin: 0;
}

.header .single-widget .logo {
    margin: 0;
    padding: 0;
    margin-top: 7px;
}

.header .single-widget i {
    position: absolute;
    left: 0;
    top: 6px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #fff;
    background: #1A76D1;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
}

.header .single-widget h4 {
    font-size: 15px;
    font-weight: 500;
}

.header .single-widget p {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.header .single-widget.btn {
    margin-left: 0;
}

.header .nav li .dropdown {
    background: #fff;
    width: 220px;
    position: absolute;
    top: 100%;
    z-index: 999;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px #3333334d;
    transform-origin: 0 0 0;
    transform: scaleY(0.2);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    border-left: 3px solid #2889e4;
    padding-left: 0;
}

.header .nav li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.header .nav li .dropdown li {
    float: none;
    margin: 0;
    border-bottom: 1px dashed #eee;
}

.header .nav li .dropdown li:last-child {
    border: none;
}

.header .nav li .dropdown li a {
    padding: 12px 15px;
    color: #666;
    display: block;
    font-weight: 400;
    text-transform: capitalize;
    background: transparent;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header .nav li .dropdown li a:before {
    display: none;
}

.header .nav li .dropdown li:last-child a {
    border-bottom: 0px;
}

.header .nav li .dropdown li:hover a {
    color: #1A76D1;
}

.header .nav li .dropdown li a:hover {
    border-color: transparent;
}

.header.style2 .main-menu {
    display: inline-block;
    float: left;
}

.header .right-bar {
    float: right;
}

.header .right-bar {
    padding-top: 20px;
}

.header .right-bar {
    display: inline-block;
}

.header .right-bar a {
    color: #fff;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background: #1a76d1;
    border-radius: 4px;
    display: block;
    font-size: 12px;
}

.header .right-bar li a:hover {
    color: #fff;
    background: #27AE60;
}

.header .search-top.active .search i:before {
    content: "\eee1";
    font-size: 15px;
}

.header .search-form {
    position: absolute;
    right: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    top: 74px;
    box-shadow: 0px 0px 10px #0000001c;
    border-radius: 4px;
    overflow: hidden;
    transform: scale(0);
}

.header .search-top.active .search-form {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.header .search-form input {
    width: 282px;
    height: 50px;
    line-height: 50px;
    padding: 0 70px 0 20px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #2C2D3F;
}

.header .search-form button {
    position: absolute;
    right: 0;
    height: 50px;
    top: 0;
    width: 50px;
    background: #1A76D1;
    border: none;
    color: #fff;
    border-radius: 0 4px 4px 0;
    border-left: 1px solid transparent;
}

.header .search-form button:hover {
    background: #fff;
    color: #1A76D1;
    border-color: #e6e6e6;
}

.header.sticky .header-inner {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: initial;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    animation: fadeInDown 0.5s both 0.1s;
    box-shadow: 0px 0px 13px #00000054;
}

/*End Header*/

.cover {
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cover .text {
    margin-top: 120px;
}

.slider.index2 .cover .text {
    margin-top: 150px;
}

.cover h1 {
    color: #2C2D3F;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 42px;
}

.cover h1 span {
    color: #1a76d1;
}

.cover p {
    color: #2C2D3F;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 1.25rem;
}

.cover .button {
    margin-top: 30px;
}

.cover .btn {
    color: #fff;
    background: #1a76d1;
    font-weight: 500;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
}

.cover .btn:last-child {
    margin: 0;
}

.cover .btn.primary {
    background: #2C2D3F;
    color: #fff;
}

.cover .btn.primary:before {
    background: #1A76D1;
}

.cover .book-box {
    width: 700px;
    height: 150px;
    padding: 15px 10px;
    background-color: white;
    border-radius: 22px;
    box-shadow: rgba(0, 0, 0, 0.29) 0px 6px 18px 0px;
}

.cover .book-box .title {
    width: 100%;
    border-bottom: 2px solid #1a76d1;
    text-align: center;
}

.cover .book-box .title i {
    font-size: 25px;
    color: #1a76d1;
}

.cover .book-box .title p {
    margin-top: 0;
    margin-bottom: 15px;
    color: #1a76d1;
}

.cover .book-box .options select {
    width: 580px;
}

.cover .book-box .options select,
.cover .book-box .options button
{
    height: 65px;
}

.cover .book-box .options .spec {
    border-radius: 11px 0 0 11px;
}

.cover .book-box .options button {
    border-radius: 0 11px 11px 0;
    outline: 0;
    border: 0;
    background-color: #1a76d1;
    color: white;
    font-size: 18px;
    width: 100px;
}

.cover .book-box .options i {
    font-size: 15px;
}

/*End Cover*/

.schedule {
    background: #fff;
    margin: 0;
    padding: 0;
    height: 230px;
}

.schedule-inner .row {
    display: flex;
}

.schedule .schedule-inner {
    position: relative;
    transform: translateY(-50%);
    z-index: 9;
}

.schedule .single-schedule {
    position: relative;
    text-align: left;
    z-index: 3;
    border-radius: 5px;
    background: #1A76D1;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.schedule .single-schedule .inner {
    overflow: hidden;
    position: relative;
    padding: 30px;
    z-index: 2;
    flex: 1;
}

.schedule .single-schedule:before {
    position: absolute;
    z-index: -1;
    content: '';
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    background: #1A76D1;
    opacity: 0;
    filter: blur(10px);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.schedule .single-schedule:hover:before {
    opacity: 0.8;
}

.schedule .single-schedule:hover {
    transform: translateY(-5px);
}

.schedule .single-schedule .icon i {
    position: absolute;
    font-size: 110px;
    color: #fff;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    z-index: -1;
    visibility: visible;
    opacity: 0.2;
    right: -25px;
    bottom: -30px;
}

.schedule .single-schedule span {
    display: block;
    color: #fff;
}

.schedule .single-schedule h4 {
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    color: #fff;
    margin-top: 13px;
}

.schedule .single-schedule p {
    color: #fff;
    margin-top: 22px;
}

.schedule .single-schedule a {
    color: #fff;
    margin-top: 25px;
    font-weight: 500;
    display: inline-block;
    position: relative;
}

.schedule .single-schedule a:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0%;
    background: #fff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.schedule .single-schedule a:hover:before {
    width: 100%;
    width: 100%;
}

.schedule .single-schedule a i {
    margin-left: 10px;
}

.schedule .single-schedule .time-sidual {
}

.schedule .single-schedule .time-sidual {
    overflow: hidden;
    margin-top: 17px;
}

.schedule .single-schedule .time-sidual li {
    display: block;
    color: #fff;
    width: 100%;
    margin-bottom: 3px;
}

.schedule .single-schedule .time-sidual li:last-child {
    margin: 0;
}

.schedule .single-schedule .time-sidual li span {
    display: inline-block;
    float: right;
}

.schedule .single-schedule .day-head .time {
    font-weight: 400;
    float: right;
}

/*End Schedule*/

.features {
    padding-top: 0;
}

.features .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features.index2 {
    padding-top: 100px;
}

.features.testimonial-page {
    padding-top: 100px;
}

.features .single-features {
    text-align: center;
    position: relative;
    padding: 10px 20px;
}

.features .single-features::before {
    position: absolute;
    content: "";
    right: -72px;
    top: 60px;
    width: 118px;
    border-bottom: 3px dotted #1a76d1;
}

.features .single-features.last::before {
    display: none;
}

.features .single-features .signle-icon {
    position: relative;
}

.features .single-features .signle-icon i {
    font-size: 30px;
    color: #1a76d1;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 0;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 100%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.features .single-features:hover .signle-icon i {
    background: #1A76D1;
    color: #fff;
    border-color: transparent;
}

.features .single-features h3 {
    padding-top: 128px;
    color: #2C2D3F;
    font-weight: 600;
    font-size: 21px;
}

.features .single-features p {
    margin-top: 20px;
}

/*End Features*/

.services {
    background-color: #1a76d1;
    margin-top: 50px;
}

.services .section-title {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.services .single-service {
    margin: 30px 0;
    position: relative;
    padding-left: 50px;
}

.services .single-service i {
    font-size: 30px;
    color: white;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.services .single-service h4 {
    text-transform: capitalize;
    margin-bottom: 25px;
    color: white;
}

.services .single-service h4 a {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.services .single-service p {
    color: black;
}

/*End Services*/

.fun-facts {
    height: 300px;
    position: relative;
}

.fun-facts .overlay {
    height: 100%;
    background-color: #ffffff9e;
    display: flex;
    align-items: center;
}

.fun-facts .single-fun i {
    position: absolute;
    font-size: 62px;
    color: #1a76d1;
    height: 70px;
    width: 70px;
    line-height: 67px;
    font-size: 28px;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 2px solid #1a76d1;
    border-radius: 0px;
    top: 50%;
    margin-top: -35px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 50%;
}

.fun-facts .single-fun:hover i {
    color: white;
    background: #1a76d1;
    border-color: transparent;
}

.fun-facts .single-fun .content {
    padding-left: 80px;
}

.fun-facts .single-fun span {
    color: #1a76d1;
    font-weight: 600;
    font-size: 30px;
    position: relative;
    display: block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: block;
}

.fun-facts .single-fun p {
    color: #1a76d1;
    font-size: 15px;
    font-weight: 600;
}

/*End Fun Facts*/

.footer {
    height: 50px;
}

.footer ul {
    padding: 0;
}

.footer .footer-top {
    padding: 50px 0;
    background: #1A76D1;
}

.footer .single-footer .social {
    margin-top: 25px;
}

.footer .single-footer .social li {
    display: inline-block;
    margin-right: 10px;
}

.footer .single-footer .social li:last-child {
    margin-right: 0px;
}

.footer .single-footer .social li a {
    height: 34px;
    width: 34px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 100%;
    display: block;
    color: #fff;
    font-size: 16px;
}

.footer .single-footer .social li a i {
    margin-top: 8px;
}

.footer .single-footer .social li a:hover {
    color: #1A76D1;
    background: #fff;
    border-color: transparent;
}

.footer .single-footer.f-link li a i {
    margin-right: 10px;
}

.footer .single-footer.f-link li {
    display: block;
    margin-bottom: 12px;
}

.footer .single-footer.f-link li:last-child {
    margin: 0;
}

.footer .single-footer.f-link li a {
    display: block;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-weight: 400;
    text-decoration: none;
}

.footer .single-footer.f-link li a:hover {
    padding-left: 8px;
}

.footer .single-footer h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 40px;
    padding-bottom: 20px;
    text-transform: capitalize;
    position: relative;
}

.footer .single-footer h2::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0px;
    height: 3px;
    width: 50px;
    background: #fff;
}

.footer .single-footer .time-sidual {
    margin-top: 15px;
}

.footer .single-footer .time-sidual {
    overflow: hidden;
}

.footer .single-footer .time-sidual li {
    display: block;
    color: #fff;
    width: 100%;
    margin-bottom: 5px;
}

.footer .single-footer .time-sidual li span {
    display: inline-block;
    float: right;
}

.footer .single-footer .day-head .time {
    font-weight: 400;
    float: right;
}

.footer .single-footer p {
    color: #fff;
}

.footer .single-footer .newsletter-inner {
    margin-top: 20px;
    position: relative;
}

.footer .single-footer .newsletter-inner input {
    background: transparent;
    border: 1px solid #fff;
    height: 50px;
    line-height: 42px;
    width: 100%;
    margin-right: 15px;
    color: #fff;
    padding-left: 18px;
    padding-right: 70px;
    display: inline-block;
    float: left;
    border-radius: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-weight: 400;
    border-radius: 5px;
}

.footer .single-footer .newsletter-inner input:hover {
    padding-left: 22px;
}

.footer input::-webkit-input-placeholder {
    opacity: 1;
    color: #fff !important;
}

.footer input::-moz-placeholder {
    opacity: 1;
    color: #fff !important;
}

.footer input::-ms-input-placeholder {
    opacity: 1;
    color: #fff !important;
}

.footer input::input-placeholder {
    opacity: 1;
    color: #fff !important;
}

.footer .single-footer .newsletter-inner .button {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    line-height: 50px;
    width: 50px;
    background: #fff;
    border-left: 1px solid #fff;
    text-shadow: none;
    box-shadow: none;
    display: inline-block;
    border-radius: 0px;
    border: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0 5px 5px 0;
    color: #1A76D1;
    font-size: 25px;
}

.footer .single-footer .newsletter-inner .button i {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.footer .single-footer .newsletter-inner .button:hover i {
    color: #2C2D3F;
}

/*End Footer*/