@model ReceptionistViewModel
@{
    ViewData["Title"] = "Delete Receptionist";
}
<h1>Are you sure you want to delete this receptionist?</h1>
<br />
<br />

<form asp-controller="Receptionist" asp-action="Delete" method="post">
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" readonly />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="MiddleName" class="form-label"></label>
        <input asp-for="MiddleName" class="form-control" readonly />
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" readonly />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" readonly />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" readonly />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" class="form-control" readonly />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <!-- Delete and Cancel Buttons -->
    <partial name="_ButtonsInDeletePartial" />
</form>
