@model ReceptionistViewModel
@{
    ViewData["Title"] = "Receptionist Details";
}

<h1>Receptionist Details</h1>
<br />
<br />

<div>
    <partial name="userpartialviews\_UserDetailsDeletePartial" model="@Model" />

    <partial name="_ButtonsInDetailsPartial" model="Model.UserId" />

</div>