@model ReceptionistViewModel
@{
	ViewData["Title"] = "Edit Receptionist";
}
<div class="container mt-5">
	<h1>Edit Receptionist</h1>

	<form asp-controller="Receptionist" asp-action="Edit" method="post">

		<partial name="userpartialviews\_UserEditPartial" model="@Model" />

		<!-- Action Buttons -->
		<partial name="_ButtonsInEditPartial" />
	</form>
</div>