@model IEnumerable<ReceptionistViewModel>
@{
	ViewData["Title"] = "Receptionists";
	ViewData["User"] = "Receptionist";
}
<div class="container mt-5">
	<partial name="userpartialviews\_UserIndexPartial" model="@Model" />
</div>
