@model DoctorViewModel
@{
    ViewData["Title"] = "Edit Doctor";
}

<h1>Edit Doctor</h1>
<br />
<br />

<form asp-controller="Doctor" asp-action="Edit" method="post">

    <partial name="userpartialviews\_UserEditPartial" model="@Model" />
 
    <!-- Specializations Dropdown (Required, Single Selection) -->
    <div class="form-group mt-2">
        <label asp-for="specialization" class="mb-3"></label>
        <select asp-for="specialization" class="form-control" required>
            <option value="">Select Specialization</option>
            @foreach (var specialization in Model.SpecializationsDateReader)
            {
                <option value="@specialization.Specialization">@specialization.Specialization</option>
            }
        </select>
        <span asp-validation-for="specialization" class="text-danger"></span>
    </div>
    <!-- Action Buttons -->
    <partial name="_ButtonsInEditPartial" /></form>

<!-- Scripts for Validation -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
