@model IEnumerable<DoctorViewModel>
@{
    ViewData["Title"] = "doctors";
    ViewData["User"] = "doctor";

}
<div class="container mt-5">
<partial name="userpartialviews\_UserIndexPartial" model="@Model" />


</div>
