@model MedicationViewModel



<div>
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="mt-4">
    <label asp-for="Strength" class="form-label"></label>
    <input asp-for="Strength" class="form-control" />
    <span asp-validation-for="Strength" class="text-danger"></span>
</div>

<div class="mt-4">
    <label asp-for="ActiveSubstances" class="form-label">Add Active Substances (optional):</label>
    <select asp-for="ActiveSubstances" class="form-control select2-multiple" multiple="multiple">
        @foreach (var substance in Model.ActiveSubstances)
        {
            <option value="@substance.Id">@substance.ActiveSubstancesName</option>
        }
    </select>
</div>
