@model MedicationViewModel

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control form-control-plaintext ps-1" readonly />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>


<div class="mb-3">
    <label asp-for="Strength" class="form-label"></label>
    <input asp-for="Strength" class="form-control form-control-plaintext ps-1" readonly />
    <span asp-validation-for="Strength" class="text-danger"></span>
</div>


<div class="mb-4">
    
    @if (Model.ActiveSubstances.Count() > 0)
    {
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(a => a.ActiveSubstances.First().ActiveSubstancesName)</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var ac in Model.ActiveSubstances)
                    {
                        <tr class="align-middle">
                            <td>@ac.ActiveSubstancesName</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-info mt-3">
            <i class="fas fa-info-circle"></i> No active substance found containing this Medication.
        </div>
    }
</div>


