@model Medication

@{
    ViewData["Title"] = "Medication Edit";
}

<h1>Medication Edit</h1>
<br />
<br />

@* /medication/Edit [HttpPost] *@
<form asp-controller="Medication" asp-action="Edit" method="post">

    @* We have problems:
    1. First, it might change the ID that comes on routing.
    1.1. Open inspect and show them that.
    1.2. How to handle that.
    2. Second, it may use action as [API endpoint].
    2.1. Open Postman and show them that.
    2.2. How to handle that.
    *@
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="MedicationId" class="form-label"></label>
        <input asp-for="MedicationId" class="form-control" readonly />
        <span asp-validation-for="MedicationId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="MedName" class="form-label"></label>
        <input asp-for="MedName" class="form-control" />
        <span asp-validation-for="MedName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Strength" class="form-label"></label>
        <input asp-for="Strength" class="form-control" />
        <span asp-validation-for="Strength" class="text-danger"></span>
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-controller="Medication" asp-action="Index" class="btn btn-light">Cancel</a>
</form>


