@model PLProject.ViewModels.MedicationViewModel

@{
    ViewData["Title"] = "Medication Edit";
}

<h1>Medication Edit</h1>
<br />
<br />

<form asp-controller="Medication" asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="MedicationId" class="form-label"></label>
        <input asp-for="MedicationId" class="form-control" readonly />
        <span asp-validation-for="MedicationId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="MedName" class="form-label"></label>
        <input asp-for="MedName" class="form-control" />
        <span asp-validation-for="MedName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Strength" class="form-label"></label>
        <input asp-for="Strength" class="form-control" />
        <span asp-validation-for="Strength" class="text-danger"></span>
    </div>

    <!-- Action Buttons -->
    <partial name="_ButtonsInEditPartial" />
</form>
