
@{
	ViewData["Title"] = "Home Page";
}

<div class="cover" style="background-image:url('img/slider2.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="text">
					<h1>Better <span>Healthcare</span> for a Better <span>Life</span></h1>
					<p>Search, compare and book doctor consultations with ease. <br /> Order your medicines & get them deilvered in no time.</p>
					<div class="book-box">
						<div class="title">
							<p><i class="fa-regular fa-calendar-check me-2"></i>Book a doctor</p>
                        </div>
						<div class="options">
							<form class="d-flex mt-2">
								<select class="form-select spec" aria-label="Default select example">
									<option selected>Specialization</option>
									@* <option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option> *@
								</select>
								<select class="form-select clin" aria-label="Default select example">
									<option selected>Clinic</option>
									@* <option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option> *@
								</select>
								<button type="submit"><i class="fa-solid fa-magnifying-glass me-1"></i>Search</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="schedule">
	<div class="container">
		<div class="schedule-inner">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12 ">
					<div class="single-schedule first">
						<div class="inner">
							<div class="icon">
								<i class="fa fa-ambulance"></i>
							</div>
							<div class="single-content">
								<h4>Emergency Cases</h4>
								<p>We provide immediate assistance for emergency medical cases, ensuring you receive timely and expert care.</p>
								<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-schedule middle">
						<div class="inner">
							<div class="icon">
								<i class="fa-solid fa-list-check"></i>
							</div>
							<div class="single-content">
								<h4>Doctors Timetable</h4>
								<p>Our clinic offers flexible appointment scheduling to meet your needs. You can easily view the availability of our doctors and book your consultation at your convenience.</p>
								<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-12">
					<div class="single-schedule last">
						<div class="inner">
							<div class="icon">
								<i class="fa-solid fa-clock"></i>
							</div>
							<div class="single-content">
								<h4>Opening Hours</h4>
								<ul class="time-sidual">
									<li class="day">Monday - Fridayp <span>8.00-20.00</span></li>
									<li class="day">Saturday <span>9.00-18.30</span></li>
									<li class="day">Monday - Thusday <span>9.00-15.00</span></li>
								</ul>
								<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
