
@{
	ViewData["Title"] = "Home Page";
}

<div class="cover" style="background-image:url('img/slider2.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="text">
					<h1>Better <span>Healthcare</span> for a Better <span>Life</span></h1>
					<p>Search, compare and book doctor consultations with ease. <br /> Order your medicines & get them deilvered in no time.</p>
					@* <div class="button">
						<a href="#" class="btn">Get Appointment</a>
						<a href="#" class="btn primary">Learn More</a>
					</div> *@
				</div>
			</div>
		</div>
	</div>
</div>
