
@{
	ViewData["Title"] = "Home Page";
}

<div class="cover" style="background-image:url('img/slider2.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="text">
					<h1>Better <span>Healthcare</span> for a Better <span>Life</span></h1>
					<p>Search, compare and book doctor consultations with ease. <br /> Order your medicines & get them deilvered in no time.</p>
					<div class="book-box">
						<div class="title">
							<p><i class="fa-regular fa-calendar-check me-2"></i>Book a doctor</p>
                        </div>
						<div class="options">
							<form class="d-flex mt-2">
								<select class="form-select clin spec" aria-label="Default select example">
									<option selected>Clinic</option>
									<option>a</option>
									<option>b</option>
									<option>c</option>
									<option>d</option>
									<option>e</option>
									<option>f</option>
									<option>g</option>
								</select>
								<button type="submit"><i class="fa-solid fa-magnifying-glass me-1"></i>Search</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="schedule">
	<div class="container">
		<div class="schedule-inner">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12 ">
					<div class="single-schedule first">
						<div class="inner">
							<div class="icon">
								<i class="fa fa-ambulance"></i>
							</div>
							<div class="single-content">
								<h4>Emergency Cases</h4>
								<p>We provide immediate assistance for emergency medical cases, ensuring you receive timely and expert care.</p>
								<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-schedule middle">
						<div class="inner">
							<div class="icon">
								<i class="fa-solid fa-list-check"></i>
							</div>
							<div class="single-content">
								<h4>Doctors Timetable</h4>
								<p>Our clinic offers flexible appointment scheduling to meet your needs. You can easily view the availability of our doctors and book your consultation at your convenience.</p>
								<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-12">
					<div class="single-schedule last">
						<div class="inner">
							<div class="icon">
								<i class="fa-solid fa-clock"></i>
							</div>
							<div class="single-content">
								<h4>Opening Hours</h4>
								<ul class="time-sidual">
									<li class="day">Monday - Friday <span>8.00-20.00</span></li>
									<li class="day">Saturday <span>9.00-18.30</span></li>
									<li class="day">Monday - Thusday <span>9.00-15.00</span></li>
								</ul>
								<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="features">
	<div class="container">
		<div class="row mb-2">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>We Are Always Ready to Help You & Your Family</h2>
					<img class="mt-2" src="img/section-img.png" alt="#">
					<p class="mt-2">Your health and well-being are our top priority. At our clinic, we provide comprehensive healthcare services designed
					<br /> to meet the needs of both individuals and families. From emergency care to preventive treatments, we’ve got you covered.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-12">
				<div class="single-features">
					<div class="signle-icon">
						<i class="fa-solid fa-truck-medical"></i>
					</div>
					<h3>Emergency Help</h3>
					<p>When time is of the essence, our emergency care team is ready to act swiftly and efficiently. We are here 24/7 to provide life-saving interventions and immediate care for those in need.</p>
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="single-features">
					<div class="signle-icon">
						<i class="fa-solid fa-hand-holding-medical"></i>
					</div>
					<h3>Enriched Pharmecy</h3>
					<p>Our on-site pharmacy offers a full range of prescription medications and over-the-counter products. We aim to make your treatment as convenient as possible by ensuring you get what you need without delays.</p>
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="single-features last">
					<div class="signle-icon">
						<i class="fa-solid fa-stethoscope"></i>
					</div>
					<h3>Medical Treatment</h3>
					<p>From routine check-ups to specialized treatments, our experienced medical professionals deliver top-quality care. We offer personalized treatment plans designed to meet your unique health needs.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>We Offer Different Services To Improve Your Health</h2>
					<img class="mt-2" src="img/section-img-white.png" alt="#">
					<p class="mt-2">At our clinic, we provide a wide range of medical services designed to address all your health concerns. 
					<br /> From preventive care to advanced surgical treatments, our expert team is here to ensure you receive the highest standard of care.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-12">
				<div class="single-service">
					<i class="fa-solid fa-suitcase-medical"></i>
					<h4><a href="service-details.html">General Treatment</a></h4>
					<p>Our general treatment services cover a variety of medical conditions, offering comprehensive consultations, diagnosis, and treatment for common health concerns. Whether it’s a minor illness or chronic condition, we are here to help.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="single-service">
					<i class="fa-solid fa-tooth"></i>
					<h4><a href="service-details.html">Teeth Whitening</a></h4>
					<p>Achieve a brighter, whiter smile with our professional teeth whitening services. Our dental experts use the latest techniques to safely and effectively remove stains, leaving your teeth looking their best.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="single-service">
					<i class="fa-solid fa-heart"></i>
					<h4><a href="service-details.html">Heart Surgery</a></h4>
					<p>Our team of skilled surgeons offers cutting-edge heart surgery for patients in need of cardiovascular care. We specialize in both minimally invasive and traditional surgeries to address various heart conditions.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="single-service">
					<i class="fa-solid fa-ear-listen"></i>
					<h4><a href="service-details.html">Ear Treatment</a></h4>
					<p>From hearing loss to ear infections, our ear specialists are equipped to diagnose and treat a wide range of ear-related issues. Trust us to provide you with effective and personalized ear care solutions.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="single-service">
					<i class="fa-solid fa-eye"></i>
					<h4><a href="service-details.html">Vision Problems</a></h4>
					<p>Whether you need a routine eye exam or treatment for a specific vision issue, our ophthalmologists offer comprehensive eye care services. We’re dedicated to improving your vision and eye health.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="single-service">
					<i class="fa-solid fa-droplet"></i>
					<h4><a href="service-details.html">Blood Transfusion</a></h4>
					<p>Our blood transfusion services ensure that patients in need receive the right type and amount of blood. We adhere to the highest safety standards to make sure each transfusion is carried out with precision and care.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="fun-facts" style="background-image:url('img/fun-bg.jpg')">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<div class="single-fun">
						<i class="fa-solid fa-house-chimney-medical"></i>
						<div class="content">
							<span class="counter">20+</span>
							<p>Clinic</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="single-fun">
						<i class="fa-solid fa-user-doctor"></i>
						<div class="content">
							<span class="counter">100+</span>
							<p>Specialist Doctors</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="single-fun">
						<i class="fa-solid fa-face-smile"></i>
						<div class="content">
							<span class="counter">500+</span>
							<p>Happy Patients</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="single-fun">
						<i class="fa-regular fa-calendar-check"></i>
						<div class="content">
							<span class="counter">10+</span>
							<p>Years of Experience</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
