@model IPagedList<AppointmentGenarelVM>
@{
	ViewData["Title"] = $"All Appointment For {Model.FirstOrDefault()?.Doctor.FullName??"Doctor"}";
}

<div class="container mt-5">
	<div class="row">
		<div class="col-md-12">
			<h1 class="mb-4">@ViewData["Title"]</h1>

			<partial name="_ApointmentIndexPartial" model="@Model" />

		</div>
	</div>
</div>

<script>
	// Optional: JavaScript to handle search input interaction
	document.getElementById('search-btn').addEventListener('click', function () {
		const query = document.getElementById('search-input').value;
		alert('Search for: ' + query); // Implement search functionality here
	});
</script>
