@model ActiveSubstanceViewModel

<div class="form-group">
	<label asp-for="ActiveSubstancesName"></label>
	<input asp-for="ActiveSubstancesName" class="form-control" />
	<span asp-validation-for="ActiveSubstancesName" class="text-danger"></span>
</div>

<div class="form-group">
	<label>Add new Active Substances (optional):</label>
	<select asp-for="ActivSubstanceId" class="form-control select2-multiple" multiple="multiple">
		@foreach (var substance in Model.ActiveSubstancesDateReader)
		{
			<option value="@substance.Id">@substance.ActiveSubstancesName</option>
		}
	</select>
</div>

<div class="form-group">
	<label>Add new Medications (optional):</label>
	<select asp-for="MedicationId" class="form-control select2-multiple" multiple="multiple">
		@foreach (var medication in Model.MedicationsDateReader)
		{
			<option value="@medication.Id">@medication.MedName</option>
		}
	</select>
</div>