@model ActiveSubstanceViewModel

@{
    ViewData["Title"] = "Create New Active Substance";
}

<h2>Create New Active Substance</h2>

<form asp-action="Create" method="post">

    <partial name="PartialViews/CreateEditPartial"/>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/select2/js/select2.min.js"></script>
    <link href="~/select2/css/select2.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            // Initialize Select2 for both dropdowns
            $('.select2-multiple').select2({
                placeholder: "Select from the list",
                allowClear: true,
                width: '100%'
            });
        });
    </script>
}
