@model ActiveSubstanceViewModel
@{
    ViewData["Title"] = "Delete Active Substance";
}

<h1 class="mb-4 text-danger">Are You Sure You Want to Delete This Active Substance?</h1>

<div class="alert alert-warning">
    <i class="fas fa-exclamation-triangle"></i> This action is irreversible. Once you delete this active substance, all related data will be removed permanently.
</div>

<form asp-controller="ActiveSubstance" asp-action="Delete" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="PartialViews/DetailsDeletePartial" model="@Model" />

    <!-- Delete and Cancel Buttons -->
    <partial name="_ButtonsInDeletePartial" />

</form>
