@model ActiveSubstanceViewModel
@{
	ViewData["Title"] = "Details";
}

<h1 class="mb-4">Active Substance Details</h1>

<div class="container">
	<partial name="PartialViews/DetailsDeletePartial" model="@Model" />

	<div class="mt-4">
		<a asp-controller="ActiveSubstance" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
			<i class="fas fa-edit"></i> Edit
		</a>
		<a asp-controller="ActiveSubstance" asp-action="Index" class="btn btn-secondary ms-2">
			<i class="fas fa-arrow-left"></i> Back To List
		</a>
	</div>
</div>
