@{
    ViewData["Title"] = "Success";
}

<h2>Active Substance Created Successfully!</h2>

<a asp-controller="ActiveSubstance" asp-action="Create" class="btn btn-primary  ">Create Another</a>
<a asp-controller="ActiveSubstance" asp-action="Index" class="btn btn-secondary ms-2">Back To List</a>
