@model InvoiceViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Invoice</h1>
<br />
<br />

<form asp-asp-controller="Invoice" asp-action="Create" method="post">
  

    <partial name="PartialViews/CreateEditInvoicePartial"></partial>



    <input type="submit" value="Create" class="btn btn-primary mt-2" />
    <a asp-controller="Invoice" asp-action="Index" class="btn btn-secondary mt-2">Back To List</a>
</form>

