@model InvoiceViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are U Sure?</h1>
<br />
<br />
<br />
<form asp-asp-controller="Invoice" asp-action="Delete" method="post">
 
    
    <partial name="PartialViews/DetailsDeleteInvoicePartial" model="@Model"></partial>
    <button type="submit" class="btn btn-danger mt-2">
        <i class="fas fa-trash"></i> Delete
    </button>

    <a asp-controller="Invoice" asp-action="Index" class="btn btn-primary mt-2">Back To List</a>
</form>

