@model InvoiceViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are U Sure?</h1>
<br />
<br />
<br />
<form asp-asp-controller="Invoice" asp-action="Delete" method="post">
 
    
    <partial name="PartialViews/DetailsDeleteInvoicePartial" model="@Model"></partial>
    <!-- Delete and Cancel Buttons -->
    <partial name="_ButtonsInDeletePartial" />
</form>

