@model InvoiceViewModel
@{
    ViewData["Title"] = "Invoice Details";
}

<h1>Invoice Details</h1>
<br />
<br />
<br />
<br />
<div class="mb-3">
    <label asp-for="InvoiceDate" class="form-label"></label>
    <input asp-for="InvoiceDate" class="form-control" readonly />
    <span asp-validation-for="InvoiceDate" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="TotalAmount" class="form-label"></label>
    <input asp-for="TotalAmount" class="form-control" readonly />
    <span asp-validation-for="TotalAmount" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="PaymentStatus" class="form-label"></label>
    <input asp-for="PaymentStatus" class="form-control" readonly />
    <span asp-validation-for="PaymentStatus" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="ReceptionistId" class="form-label"></label>
    <input asp-for="ReceptionistId" class="form-control" readonly />
    <span asp-validation-for="ReceptionistId" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="ApointmentId" class="form-label"></label>
    <input asp-for="ApointmentId" class="form-control" readonly />
    <span asp-validation-for="ApointmentId" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="PaymentType" class="form-label"></label>
    <input asp-for="PaymentType" class="form-control" readonly />
    <span asp-validation-for="PaymentType" class="text-danger"></span>
</div>

<a asp-controller="Invoice" asp-action="Index" class="btn btn-primary mt-2">Back To List</a>


