@model InvoiceViewModel
@{
    ViewData["Title"] = "Invoice Details";
}

<h1>Invoice Details</h1>
<br />
<br />
<br />
<br />
<div>
<partial name="PartialViews/DetailsDeleteInvoicePartial" model="@Model"></partial>


	<partial name="_ButtonsInDetailsPartial" model="Model.Id" />


</div>


