@model InvoiceViewModel
@{
    ViewData["Title"] = "Invoice Details";
}

<h1>Invoice Details</h1>
<br />
<br />
<br />
<br />
<div>
<partial name="PartialViews/DetailsDeleteInvoicePartial" model="@Model"></partial>


    <a asp-controller="Invoice" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>

<a asp-controller="Invoice" asp-action="Index" class="btn btn-primary mt-2">Back To List</a>

</div>


