@model InvoiceViewModel
@{
    ViewData["Title"] = "Invoice Edit";
}

<h1>Edit Invoice</h1>
<br />
<br />
<br />
<form asp-asp-controller="Invoice" asp-action="Edit" method="post">

    <partial name="PartialViews/CreateEditInvoicePartial" model="@Model"></partial>

    <!-- Action Buttons -->
    <partial name="_ButtonsInEditPartial" />
</form>

