@model ClinicSpecializationLookup
@{
	ViewData["Title"] = "Add Specialization";
}
<div class="container mt-5" style="min-height: 100vh">
	<h1 class="page-title">Add a New Clinic Specialization</h1>
	<!-- Success Message -->
	<partial name="SuccessMessage" />

    <!-- Error Message -->
    <partial name="ErrorMessage" />

	<form asp-action="AddSpecialization" method="post">
		<div class="mt-2">
			<label asp-for="Specialization" class="form-label"></label>
			<input asp-for="Specialization" class="form-control" placeholder="e.g. Cardiology, Neurology" value="" />
			<span asp-validation-for="Specialization" class="text-danger"></span>
		</div>
		<!-- Submit Button -->
		<div class="mt-3 d-flex justify-content-between">
			<button type="submit" class="btn btn-primary mt-2">Add</button>
			<a asp-controller="Clinic" asp-action="Index" class="btn btn-secondary mt-2">Back To List</a>
		</div>
	</form>

</div>