@model ClinicViewModel
@{
    ViewData["Title"] = "Delete Clinic";
}
<div class="container mt-5">
<h1>Are you sure ?</h1>
<br />
<br />

<form asp-asp-controller="Clinic" asp-action="Delete" method="post">
    
    <partial name="PartialViews/DetailsDeleteClinicPartial" />

        <!-- Delete and Cancel Buttons -->
        <div class="mt-5 mb-5">
            <button type="submit" class="btn btn-danger mt-2">
                <i class="fas fa-trash"></i> Delete
            </button>

            <a asp-action="Index" class="btn btn-primary mt-2">
                <i class="fas fa-arrow-left"></i> Back To List
            </a>
        </div>

</form>
</div>