@model ClinicViewModel
@{
    ViewData["Title"] = "View Clinic";
}
<h1>Clinic Details</h1>
<br />
<br />

<partial name="PartialViews/DetailsDeleteClinicPartial" />

<partial name="_ButtonsInDetailsPartial" model="Model.Id" />
