@model ClinicViewModel
@{
	ViewData["Title"] = "View Clinic";
}
<div class="container mt-5">
	<h1 class="mb-4">Clinic Details</h1>

	<partial name="PartialViews/DetailsDeleteClinicPartial" />


	<!-- Action Buttons -->
	<div class="d-flex justify-content-end mt-4">
		<partial name="_ButtonsInDetailsPartial" model="Model.Id" />
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
