@model ClinicViewModel
@{
	ViewData["Title"] = "View Clinic";
}
<div class="container mt-5" style="min-height: 100vh">
	<h1 class="page-title">Clinic Details</h1>

	<partial name="PartialViews/DetailsDeleteClinicPartial" />


	<!-- Action Buttons -->
	<div class="d-flex justify-content-between mt-3">
		<!-- Delete and Cancel Buttons -->
		<a asp-action="Delete" class="btn btn-danger mt-2">
			<i class="fas fa-trash"></i> Delete
		</a>

		<a asp-action="Index" class="btn btn-primary mt-2">
			<i class="fas fa-arrow-left"></i> Back To List
		</a>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
