@model ClinicViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Clinic</h1>
<br />
<br />

<form asp-asp-controller="Clinic" asp-action="Edit" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <!-- Specializations Dropdown (Required, Single Selection) -->
    <div class="form-group mt-2">
        <label asp-for="Specialization" class="mb-3"></label>
        <select asp-for="Specialization" class="form-control" required>
            <option value="">Select Specialization</option>
            @foreach (var specialization in Model.SpecializationsDateReader)
            {
                <option value="@specialization.Specialization">@specialization.Specialization</option>
            }
        </select>
        <span asp-validation-for="Specialization" class="text-danger"></span>
    </div>

    <div class="mb-3 mt-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <!-- Action Buttons -->
    <partial name="_ButtonsInEditPartial" />
</form>

<!-- Scripts for Validation -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}