@model ClinicViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Clinic</h1>
<br />
<br />

<form asp-asp-controller="Clinic" asp-action="Edit" method="post">
    
    <partial name="PartialViews/CreateEditClinicPartial" />

    <!-- Action Buttons -->
    <partial name="_ButtonsInEditPartial" />
</form>

<!-- Scripts for Validation -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}