@model int
<td>
    <a  asp-action="Details" asp-route-Id="@Model" class="btn btn-warning">
        <i class="fas fa-eye pe-1"></i>Details
    </a>
</td>
<td>
    <a  asp-action="Edit" asp-route-Id="@Model" class="btn btn-success">
        <i class="fas fa-edit pe-1"></i>Update
    </a>
</td>
<td>
    <a  asp-action="Delete" asp-route-Id="@Model" class="btn btn-danger">
        <i class="fas fa-trash pe-1"></i>Delete
    </a>
</td>
