<div class="mt-3 d-flex justify-content-between">
    <div class="submit">
        <button type="submit" class="btn btn-success">
            <i class="fas fa-save"></i> Save Changes
        </button>
    </div>
   
	@if (User.IsInRole(Roles.Admin))
	{
		<div class="cancel">
			<a asp-action="Index" class="btn btn-danger"><i class="fa-solid fa-xmark"></i> Cancel</a>
		</div>
	}
	else
	{
		<div class="cancel">
			<a asp-controller ="Home" asp-action="Index" class="btn btn-danger"><i class="fa-solid fa-xmark"></i> Cancel</a>
		</div>
	}
</div>