<button type="submit" class="btn btn-success mt-2">
    <i class="fas fa-save"></i> Save Changes
</button>
<a asp-action="Index" class="btn btn-danger mt-2"><i class="fa-solid fa-xmark"></i> Cancel</a>