@model int
<div class="mt-5 mb-5">
	<a  asp-action="Edit" asp-route-id="@Model" class="btn btn-primary">
		<i class="fas fa-edit"></i> Edit
	</a>
	<a  asp-action="Delete" asp-route-id="@Model" class="btn btn-danger">
        <i class="fas fa-trash"></i> Delete
    </a>
	</a>
	<a asp-action="Index" class="btn btn-secondary ms-2">
		<i class="fas fa-arrow-left"></i> Back To List
	</a>
</div>