<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - PLProject</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	<link rel="stylesheet" href="~/PLProject.styles.css" asp-append-version="true" />
</head>
<body>
	<header class="header">
		<div class="header-inner">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-12">
							<div class="logo">
								<a asp-area="" asp-controller="Home" asp-action="Index"><img src="@Url.Content("~/img/logo.png")" alt="Logo" /></a>
							</div>
							<div class="mobile-nav"></div>
						</div>
						<div class="col-lg-6 col-md-9 col-12">
							<div class="main-menu">
								<nav class="navigation">
									<ul class="nav menu">
										<li class="">
											<a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
										</li>

										@if (User.IsInRole(Roles.Admin))
										{
											<li>
												<a href="#">Staff</a>
												<ul class="dropdown">
													<li><a asp-area="" asp-controller="Doctor" asp-action="Index">Doctor</a></li>
													<li><a asp-area="" asp-controller="Nurse" asp-action="Index">Nurses</a></li>
													<li><a asp-area="" asp-controller="Pharmacist" asp-action="Index">Pharmacist</a></li>
													<li><a asp-area="" asp-controller="Receptionist" asp-action="Index">Receptionist</a></li>
												</ul>
											</li>
											<li>
												<a href="#">Medical</a>
												<ul class="dropdown">
													<li><a asp-area="" asp-controller="ActiveSubstance" asp-action="Index">Active Substance</a></li>
													<li><a asp-area="" asp-controller="Medication" asp-action="Index">Medication</a></li>
													<li><a asp-area="" asp-controller="Clinic" asp-action="Index">Clinic</a></li>
												</ul>
											</li>
										}

										@if (!User.Identity.IsAuthenticated || User.IsInRole(Roles.Patient))
										{
											<li>
												<a asp-area="" asp-controller="AppointmentPatient" asp-action="Index">Book Appointment</a>
											</li>
										}
										@if (User.IsInRole(Roles.Doctor))
										{
											<li>
												<a asp-area="" asp-controller="AppointmentDoctor" asp-action="Index">My Appointment</a>
											</li>
										}
										@if (User.IsInRole(Roles.Pharmacist))
										{
											<li>
												<a asp-area="" asp-controller="Prescription" asp-action="Index">Prescription</a>
											</li>
										}
										@if (User.IsInRole(Roles.Receptionist) || User.IsInRole(Roles.Admin))
										{
											<li>
												<a href="#">Reception</a>
												<ul class="dropdown">
													<li><a asp-area="" asp-controller="AppointmentReceptionist" asp-action="Index">Manage Appointments</a></li>
												</ul>
											</li>
										}
										@if (User.IsInRole(Roles.Admin))
										{
											<li>
												<a href="#">Users</a>
												<ul class="dropdown">
													<li><a asp-area="Admin" asp-controller="User" asp-action="Index">Users</a></li>
													<li><a asp-area="Admin" asp-controller="User" asp-action="roles">Roles</a></li>
												</ul>
											</li>
										}
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-lg-3 col-12 d-flex justify-content-end align-items-center">
							<div class="get-quote d-flex">
								<partial name="_LoginPartial" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div style=" min-height: 20rem;" class="pb-3">
		@RenderBody()
	</div>

	<footer class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<div class="single-footer">
							<h2>About Us</h2>
							<p>We are a dedicated healthcare facility committed to providing high-quality medical care. Our team of professionals works tirelessly to ensure that every patient receives personalized and compassionate care. Your health and well-being are our top priorities.</p>
							<ul class="social">
								<li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2>Quick Links</h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a asp-controller="Home" asp-action="Index"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
										<li><a asp-controller="Doctor" asp-action="Index"><i class="fa fa-caret-right" aria-hidden="true"></i>Doctors</a></li>
										<li><a asp-controller="Nurse" asp-action="Index"><i class="fa fa-caret-right" aria-hidden="true"></i>Nurses</a></li>
										<li><a asp-controller="Pharmacist" asp-action="Index"><i class="fa fa-caret-right" aria-hidden="true"></i>Pharmacists</a></li>
										<li><a asp-controller="Receptionist" asp-action="Index"><i class="fa fa-caret-right" aria-hidden="true"></i>Receptionists</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<div class="single-footer">
							<h2>Open Hours</h2>
							<p>We’re available to assist you throughout the week.</p>
							<ul class="time-sidual">
								<li class="day">Monday - Friday <span>8.00-20.00</span></li>
								<li class="day">Saturday <span>9.00-18.30</span></li>
								<li class="day">Monday - Thusday <span>9.00-15.00</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	@RenderSection("ClientSideValidation", required: false)
</body>
</html>