<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PLProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/PLProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="header-inner">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="logo">
                                <a asp-controller="Home" asp-action="Index"><img src="img/logo.png" alt="logo"></a>
                            </div>
                            <div class="mobile-nav"></div>
                        </div>
                        <div class="col-lg-7 col-md-9 col-12">
                            <div class="main-menu">
                                <nav class="navigation">
                                    <ul class="nav menu">
                                        <li class="active">
                                            <a asp-controller="Home" asp-action="Index">Home</a>
                                        </li>

                                        @if (User.IsInRole(Roles.Admin))
                                        {
                                            <li>
                                                <a href="#">Staff</a>
                                                <ul class="dropdown">
                                                    <li><a asp-area="" asp-controller="Doctor" asp-action="Index">Doctor</a></li>
                                                    <li><a asp-area="" asp-controller="Nurse" asp-action="Index">Nurses</a></li>
                                                    <li><a asp-area="" asp-controller="Pharmacist" asp-action="Index">Pharmacist</a></li>
                                                    <li><a asp-area="" asp-controller="Receptionist" asp-action="Index">Receptionist</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Medical</a>
                                                <ul class="dropdown">
                                                    <li><a asp-area="" asp-controller="ActiveSubstance" asp-action="Index">Active Substance</a></li>
                                                    <li><a asp-area="" asp-controller="Medication" asp-action="Index">Medication</a></li>
                                                    <li><a asp-area="" asp-controller="Clinic" asp-action="Index">Clinic</a></li>
                                                </ul>
                                            </li>
                                        }
                                        
                                        @if (!User.Identity.IsAuthenticated || User.IsInRole(Roles.Patient))
                                        {
                                            <li>
                                                <a asp-area="" asp-controller="AppointmentPatient" asp-action="Index">Book Appointment</a>
                                            </li>
                                        }
                                        @if (User.IsInRole(Roles.Doctor))
                                        {
                                            <li class="active">
                                                <a asp-area="" asp-controller="AppointmentDoctor" asp-action="Index">My Appointment</a>
                                            </li>
                                        }
                                        @if (User.IsInRole(Roles.Pharmacist))
                                        {
                                            <li>
                                                <a asp-area="" asp-controller="Prescription" asp-action="Index">Prescription</a>
                                            </li>
                                        }
                                        @if (User.IsInRole(Roles.Receptionist) || User.IsInRole(Roles.Admin))
                                        {
                                            <li>
                                                <a href="#">Billing</a>
                                                <ul class="dropdown">
                                                    <li><a asp-area="" asp-controller="Invoice" asp-action="Index">Invoices</a></li>
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12 d-flex align-items-center">
                            <div class="get-quote">
                                <partial name="_LoginPartial" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PLProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("ClientSideValidation", required: false)
</body>
</html>
