@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav d-flex align-items-center">
        <li class="nav-item me-2">
            <a id="manage" class="btn btn-primary text-dark py-2 px-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello @UserManager.GetUserName(User)!
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
        <a class="btn" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="btn" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    @* <li class="nav-item">
        <a class="btn btn-primary" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
           <a class="btn btn-primary" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li> *@
}
